<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.1.xsd">

 <bean id="xmpp" class="uk.org.tubs.coffee.impl.XMPPCoffeeListener">
  <property name="xmppServer" value="scooge.local" />
  <property name="username" value="coffee" />
  <property name="password" value="c0ff33" />
 </bean>

 <bean id="monitor" class="uk.org.tubs.coffee.impl.SerialMonitor">
  <property name="serialPortID">
    <value>/dev/tty.usbserial-A6008IN1</value></property>
  <property name="coffeeListeners">
   <list>
    <ref bean="xmpp" />
   </list>
  </property>
 </bean>

</beans>